# app/views/users/show.html.erb
<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">

      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
	<h2 class="username">Username</h2>
	<a class="edit-profile">
	  <button>Edit Profile</button>
	</a>
      </div>
      <ul class="posts">
	<li>12 posts</li>
	<li>12 followers</li>
	<li>12 following</li>
      </ul>
      <h2 class="name">Name surname</h2>
    </div>
  </div>
</div>

  


